
/* Color Theme Swatches in Hex 
.Pueblo-Harvest-Final-1-hex { color: #FBD8B0; }
.Pueblo-Harvest-Final-2-hex { color: #3D505D; }  Blue
.Pueblo-Harvest-Final-3-hex { color: #9F3A37; }
.Pueblo-Harvest-Final-4-hex { color: #CB5940; }
.Pueblo-Harvest-Final-5-hex { color: #DC8729; }
*/


/*  ----------- Box Sizing ------------  */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

/*  ----------- Utility Classes ------------  */
.container{
    width:70vw;
    margin:40px auto;
    max-width:960px;
}

.img-right{
    float:right;
    margin:20px 0 20px 20px;
    border:1px solid #c0c0c0;
    padding:5px;
    border-radius:5px;
}

.img-left{
    float:left;
    margin:20px 20px 20px 0;
    border:1px solid #c0c0c0;
    padding:5px;
    border-radius:5px;
}

.img-center{
    display:block;
    margin:20px auto;
    border:1px solid #c0c0c0;
    padding:5px;
    border-radius:5px;
}

/*  ----------- Responsive Images ------------  */
img{
    max-width:100%;
}

/*  ----------- Global Styles ------------  */
body {
    font-family: 'Roboto', sans-serif;
    margin:0;   /*----brings margins all the way to the edge----*/
    line-height:1.4rem;
}

header.primary{
    background-color:#3D505D;
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23c0c0c0' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    text-align:center;  /*-------centers header text---------*/
    color:#ffffff;   /*--------text color----------*/

    /*long form*/
    padding-top:40px;
    padding-right:40px;
    padding-bottom:40px;
    padding-left:40px;

    /* short form, T, R, B, L 
    padding:40px 40px 40px 40px;
    */

    text-shadow: 1px 1px #000000;
}

header.primary h1{
    font-size:2.4rem;
    margin:20px 0;
}

header.primary h1 a{
    color:#ffffff;
    text-decoration:none;
}

header.primary h2 {
    font-size:1.4rem;
    margin:20px auto 30px; /* Top | Left/Right | Bottom */
}

header.primary nav{
    max-width:960px;
    
}

header.primary ul{
    padding:0;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}

header.primary li{
    list-style-type:none; /*list bullet point style*/
}

header.primary nav a{
    color:#ffffff;
    text-decoration:none; /*no underline under hyperlink*/
    background:#000000;
    background:rgba(0,0,0,.4);
    padding:8px 16px;
    border-radius:20px; /*rounds link background*/
    transition:.5s;
    border: 1px solid rgba(0,0,0,.6); /* width | stroke type | color */
}

header.primary nav a:hover, header.primary nav a:active{
    background:rgba(0,0,0,.8);
}

#intro {
    border-bottom:1px solid #c0c0c0;
    padding-bottom:.9rem;
}


#intro h2{
    color:#3D505D;
    border-bottom: 1px solid #c0c0c0;
}

#content{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom:1px solid #c0c0c0;
    padding-bottom:2.9rem;
}

#content article.post{
    width: 30%;
    box-shadow: 0 4px 8px rgba(0,0,0,.4);
    padding:10px;
    border-radius:4px;
    font-size:.8rem;
    transition:.5s;
}

#content article.post:hover{
    box-shadow: 0 8px 16px rgba(0,0,0,.4);
}

article.post figure{
    margin:0;
}

time.post-date, figcaption, .post-meta{
    text-transform: uppercase;
    color:#c0c0c0;
}

article.post figure img{
    border:1px solid #c0c0c0;
    padding:2px;
    border-radius:4px;
    margin: 5px auto;
}

article.post a{
    color:#3D505D;
    transition:.5s;
}

article.post a:hover{
    text-decoration: none;
}

#demo h2{}
#demo p{}
#demo a{
    color:#3D505D;
}
#demo a:hover{
    text-decoration:none;
}

#demo h3{
    border-left:7.5px solid #3D505D;
    padding:10px;
}

table{
    width:100%;
    border:1px solid #c0c0c0;
    border-collapse:collapse;
}
table caption{
    margin-bottom:10px;
    font-weight:bold;
}
th{
    border:1px solid #c0c0c0;
    background-color:#3D505D;
    color:#ffffff;
    padding:5px;
}
tr:nth-child(even) {
    background-color:rgba(0,0,0,.1);
}

tr:hover{
    background-color:rgba(0,0,0,.2);
}
td{
    border:1px solid #c0c0c0;
    padding:5px;
    text-align:right;
    width:33%;
}

td:first-of-type{
    text-align:left;
}

#demo ol{
    list-style-type:lower-roman;
}

#demo li ul li{
    list-style-type:square;
}

#demo dl{

}

#demo dt{
    font-weight:bold;
}

#demo dd{
    margin:0;
}

/*-----Adjacent sibling combinator-------*/
dd + dt{  
    margin-top:20px;
}

#demo blockquote{
    background-color:rgba(0,0,0,.1);
    padding:30px 40px;
    border:5px double #c0c0c0;
    border: radius 15px;
    font-size:1.2rem;
}

#demo cite{
    display:block;
    font-weight:bold;
    font-size:.8rem;
    text-align:right;
    margin-top:5px;
}


/*-------Attribute Selector Example-----*/
aside[role="complementary"]{
    background-color:#9F3A37;
    color:#ffffff;
    padding:1.9rem;
}

aside .container{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

aside article.widget{
    width:45%;
}

article.widget a:last-of-type{
    color:#fff;
    display:block;
    text-align:right;
    margin-top:.8rem;
}

article.widget footer{
    display:none;
}

#colophon{
    background-color:#3b638b;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23c0c0c0' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

#colophon h6{   /*----------footer---------*/
    padding:20px;
    margin:0;
    text-align:center;
    color:#ffffff;
    font-size:.9rem;
}















/*------------breaks screen when resizing----------*/
@media screen and (max-width:600px){
    header.primary ul{
        flex-direction:column;
        width:50vw; 
        margin:0 auto;
}

header.primary nav a{
    display:block;
}

header.primary nav li{
    margin-bottom:10px;
}

#content{
    flex-direction:column;
}

#content article.post{
    width:100%;
    margin-bottom:20px;
}

aside .container{
    flex-direction:column;
}

aside .conainer article.widget{
    width:100%;
}

}