
/* Color Theme Swatches in Hex 
.Pueblo-Harvest-Final-1-hex { color: #FBD8B0; }
.Pueblo-Harvest-Final-2-hex { color: #3D505D; }  Blue
.Pueblo-Harvest-Final-3-hex { color: #9F3A37; }
.Pueblo-Harvest-Final-4-hex { color: #CB5940; }
.Pueblo-Harvest-Final-5-hex { color: #DC8729; }
*/


/*  ----------- Box Sizing ------------  */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

/*  ----------- Utility Classes ------------  */
.container{
    width:70vw;
    margin:40px auto;
    max-width:960px;
}

/*  ----------- Global Styles ------------  */
body {
    font-family: 'Roboto', sans-serif;
    margin:0;   /*----brings margins all the way to the edge----*/
}

header.primary{
    background-color:#3D505D;
    text-align:center;  /*-------centers header text---------*/
    color:#ffffff;   /*--------text color----------*/

    /*long form*/
    padding-top:40px;
    padding-right:40px;
    padding-bottom:40px;
    padding-left:40px;

    /* short form, T, R, B, L 
    padding:40px 40px 40px 40px;
    */

    text-shadow: 1px 1px #000000;
}

header.primary h1{
    font-size:2.4rem;
    margin:20px 0;
}

header.primary h1 a{
    color:#ffffff;
    text-decoration:none;
}

header.primary h2 {
    font-size:1.4rem;
    margin:20px auto 30px; /* Top | Left/Right | Bottom */
}

header.primary nav{
    max-width:960px;
    
}

header.primary ul{
    padding:0;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}

header.primary li{
    list-style-type:none; /*list bullet point style*/
}

header.primary nav a{
    color:#ffffff;
    text-decoration:none; /*no underline under hyperlink*/
    background:#000000;
    background:rgba(0,0,0,.4);
    padding:8px 16px;
    border-radius:20px; /*rounds link background*/
    transition:.5s;
    border: 1px solid rgba(0,0,0,.6); /* width | stroke type | color */
}

header.primary nav a:hover, header.primary nav a:active{
    background:rgba(0,0,0,.8);
}


/*------------breaks screen when resizing----------*/
@media screen and (max-width:600px){
    header.primary ul{
        flex-direction:column;
        width:50vw; 
        margin:0 auto;
}

header.primary nav a{
    display:block;
}

header.primary nav li{
    margin-bottom:10px;
}

}