/* Color Theme Swatches in Hex 
.Pueblo-Harvest-Final-1-hex { color: #FBD8B0; }
.Pueblo-Harvest-Final-2-hex { color: #3D505D; }  Blue
.Pueblo-Harvest-Final-3-hex { color: #9F3A37; }
.Pueblo-Harvest-Final-4-hex { color: #CB5940; }
.Pueblo-Harvest-Final-5-hex { color: #DC8729; }
*/


/*  ----------- Box Sizing ------------  */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

/*  ----------- Utility Classes ------------  */
.container{
    width:70vw;
    margin:40px auto;
    max-width:960px;
}

.img-right{
    float:right;
    margin:20px 0 20px 20px;
    border:1px solid #c0c0c0;
    padding:5px;
    border-radius:5px;
}

.img-left{
    float:left;
    margin:20px 20px 20px 0;
    border:1px solid #c0c0c0;
    padding:5px;
    border-radius:5px;
}

.img-center{
    display:block;
    margin:20px auto;
    border:1px solid #c0c0c0;
    padding:5px;
    border-radius:5px;
}

/*  ----------- Responsive Images ------------  */
img{
    max-width:100%;
}

/*  ----------- Global Styles ------------  */
body {
    font-family: 'Roboto', sans-serif;
    margin:0;   /*----brings margins all the way to the edge----*/
    line-height:1.4rem;
}



