/* Color Theme Swatches in Hex 
.UI/UX-1-hex { color: #0B1426; } dark blue
.UI/UX-2-hex { color: #6F8C51; } dark green
.UI/UX-3-hex { color: #AFD971; } light green
.UI/UX-4-hex { color: #D8D9D7; } gray
.UI/UX-5-hex { color: #A5A686; } beige */


/*  ----------- Box Sizing ------------  */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

/*  ----------- Utility Classes ------------  */
.container{
    width:70vw;
    margin:40px auto;
    max-width:960px;
}

.img-right{
    float:right;
    margin:20px 0 20px 20px;
    border:1px solid #c0c0c0;
    padding:5px;
    border-radius:5px;
}

.img-left{
    float:left;
    margin:20px 20px 20px 0;
    border:1px solid #c0c0c0;
    padding:5px;
    border-radius:5px;
}

.img-center{
    display:block;
    margin:20px auto;
    border:1px solid #c0c0c0;
    padding:5px;
    border-radius:5px;
}

/*  ----------- Responsive Images ------------  */
img{
    max-width:100%;
}

/*  ----------- Global Styles ------------  */
body {
    font-family: 'Roboto', sans-serif;
    margin:0;   /*----brings margins all the way to the edge----*/
    line-height:1.4rem;
}

header.primary{
    background-color:#0B1426;
    text-align:center;
    color:#074c8d;
    padding:40px 40px 40px 40px;
    text-shadow: 1px 1px #000000
}

header.primary h2{
    font-size:1.1rem;
    margin:20px auto 30px;
}

header.primary nav{
    max-width:auto;
}

header.primary ul{
    padding:10px 0 0 0;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}

header.primary li{
    list-style-type:none;
}

header.primary nav a{
    color:#D8D9D7;
    text-decoration:none; 
    background:#000000;
    background:#074c8d;
    padding:8px 16px;
    border-radius:15px 50px; 
    transition:.5s;
    border: 2px outset rgba(0,0,0,.6);
}

header.primary nav a:hover, header.primary nav a:active{
    background:rgba(0,0,0,.5);
}

#intro h2{
    color:#074c8d;
    border-bottom: 2px solid #074c8d;
}

#articles figcaption{
    font-size:.8rem
}
